.about {
    padding: 80px 8%;
    text-align: center;
}

.about-texto h2 {
    font-size: 2.8rem;
    color: #ff0000;
    margin-bottom: 20px;
}

.about-texto h2 span1{
    color: #ffffff;
}

.about-texto h2 span{
    color: #ffc400;
}

.about-texto p {
    font-size: 1.2rem;
    color: #ddd;
    margin-bottom: 10px;
}

/* ----- Fotos ----- */
.about-fotos {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.about-fotos img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    transition: .3s ease;
}

.about-fotos img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 25px rgba(0,0,0,0.4);
}

/* RESPONSIVO */
@media (max-width: 900px) {
    .about-fotos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .about-fotos {
        grid-template-columns: 1fr;
    }
}

.section-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    gap: 15px;
}

.section-divider .line {
    flex: 1;
    height: 2px;
    background: #d4af37; /* dourado elegante */
}

.section-divider .divider-logo {
    width: 80px; /* ajuste como quiser */
    height: auto;
    object-fit: contain;
}

.divider-logo{
    border-radius: 50%;
}
