/* ===== HERO ===== */
.hero {
    height: 100vh;
    background: url("../images/frente.webp") center/cover no-repeat;
    display: flex;
    justify-content: center;  /* Centraliza horizontal */
    align-items: center;      /* Centraliza vertical */
    text-align: center;       /* Centraliza o texto */
    padding: 0;               /* Remove o padding que empurrava o texto para a esquerda */
    background-attachment: fixed;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0; /* pega toda a área */
    background: rgba(0, 0, 0, 0.8); /* ajuste a opacidade como quiser */
    z-index: 1; /* fica por cima da imagem */
}

/* O conteúdo tem que ficar acima do filtro */
.hero * {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-size: 4rem;
    max-width: 600px;
}

.hero-content h1 span {
    color: #ff0000;
}

.hero-content p {
    margin: 20px 0;
    font-size: 1.2rem;
}

.btn-primary {
    background: #e0c465;
    color: #000;
    padding: 12px 26px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    transition: .3s;
}

.btn-primary:hover {
    background: #b8952f;
}
